.coverage
.hypothesis/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
.venv312/
__pycache__/
build/
dist/
docs/site/
htmlcov/
src/*.egg-info/
src/**/*.pyc

# Windows / OneDrive
desktop.ini
Thumbs.db
*.lnk
